
.cart.scroll{

    top: 0;
    right: 2px;
    margin: 5px;
    margin-top: 15px;

    width: 10.3%;
    height: 27px;

    background-color: white;/*#d6ab8b;*/

    border-style: solid;
    border-width: 1px;
    border-right-width: 0px;
    border-color: black;

    /*box-shadow: 0 1px black;*/

    text-align: center;
}

.cart.sticky{
    position: fixed;
}
