.intro{
  display: inline-block;

  width: auto;
  height: auto;

  box-shadow: -1px 1px 10px 1px black;
}

.background-buffer{
  z-index: -1;

  background-color: #dc6e9b;
}

#lower-background-buffer{
  width: 546.5px;
  height: 30px;

  position: relative;
  right: -36.3%;
  top: -1%;
}

#upper-background-buffer{
  width: 546.5px;
  height: 1rem;

  position: relative;
  right: -36.3%;
  top: -1%;
}
