.intro-group{
  display: inline-block;

  position: relative;
  right: 4.33%;
}

.intro{
  display: inline-block;

  width: auto;
  height: auto;

  box-shadow: -1px 1px 10px 1px black;
}

.background-buffer{
  z-index: -1;

  background-color: #dc6e9b;
}

.vertical-background-buffer{
  height: 307px;
  width: 20px;
}
#left-vertical-background-buffer{
  float: left;
}

#right-vertical-background-buffer{
  float: right;
}

.horisontal-background-buffer{
  width: 546.5px + 20px + 20px;
}
#lower-horisontal-background-buffer{
  height: 30px;
}

#upper-horisontal-background-buffer{
  height: 1rem;
}
