
.scroll{
    fill: white;
    stroke: black;
}

.scroll:hover{
    fill: none;
    stroke: none;
}

.scrollend{
    position: relative;
}

.scrollend-left.rolled{
    top: -115%;
    right: 52%;
}

.scrollend-left.unrolled{
    top: -455%;
    right: 52%;

    fill: none;
    stroke: none;
}

.scrollend-right{
    top: -257%;
    right: -52%;
}

#whitener-div{
    position: relative;
    top: -356%;
    right: -99%;

    height: 22px;
    width: 2px;

    background-color: white;
}

.goods-list{
    display: inline-flex;
    flex-direction: column;

    position: relative;
    top: -458%;
    right: 0.5%;

    width: 100.5%;

    color: black;
    background-color: white;
    opacity: 0;

    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-right-width: 0;

    text-align: start;
}

.position{
    flex: 1;
}
