
.scroll{
    fill: white;
    stroke: black;
}

.scroll:hover{
    fill: none;
    stroke: none;
}

.scrollend{
    position: relative;
}
.unrolled{
    display: none;
}

.scrollend-left.rolled{
    top: -115%;
    right: 52%;
}

.scrollend-left.unrolled{
    top: -295.5%;
    right: 52%;

    fill: none;
    stroke: none;
}

.scrollend-right{
    right: -51%;
}
.scrollend-right.rolled{
    top: -257%;
}

.scrollend-right.unrolled{
    top: -100%;
}
.whitener{
    height: 22px;
    width: 2px;

    right: -99%;

    background-color: white;
}
.whitener.rolled{
    top: -356%;
}

.whitener.unrolled{
    top: -200%;
}

.goods-list{
    display: inline-flex;
    flex-direction: column;

    position: relative;
    top: -300%;
    right: 0.5%;

    width: 100.5%;

    color: black;
    background-color: white;
    opacity: 0;

    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-right-width: 0;

    text-align: start;
}

.position{
    flex: 1;
}
