{% load static %}

<link rel="stylesheet" href="{% static 'css/intro.css' %}">

<div class="intro-group">
    <div class="background-buffer horisontal-background-buffer" id="upper-horisontal-background-buffer"></div>

    <div class="background-buffer vertical-background-buffer" id="left-vertical-background-buffer"></div>

    <div class="intro"><img src="{% static 'images/background/intro3.jpg' %}" height="307px" width="547px"></div>

    <div class="background-buffer vertical-background-buffer" id="right-vertical-background-buffer"></div>

    <div class="background-buffer horisontal-background-buffer" id="lower-horisontal-background-buffer"></div>
</div>