{% extends 'base_.html' %}

{% load static %}

{% block title %}
    the Gardensite
{% endblock %}

{% block nav %}
    {% include 'included/_navbar.html' %}
{% endblock %}

{% block content %}

    {% include 'included/_intro.html' %}

    {% for plant in plants %}
        {% if forloop.counter0|divisibleby:3 %}
            <div class="row">
        {% endif %}
        {% include 'included/_plant_cell.html' %}
        {% if forloop.counter|divisibleby:3 %}
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}




