{% extends 'base_.html' %}

{% load static %}

{% block title %}
    the Gardensite
{% endblock %}

{% block nav %}
    {% include 'included/_navbar.html' %}
{% endblock %}

{% block header %}
    {% include 'included/_intro.html' %}
{% endblock %}

{% block content %}
    {% for plant in plants %}
        {% if forloop.counter0|divisibleby:4 %}
            <div class="row row-cols-4">
        {% endif %}
        {% include 'included/_plant_cell.html' %}
        {% if forloop.counter|divisibleby:4 %}
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block included %}
    {% include 'included/_cart.html' %}
{% endblock %}




