@font-face {
    font-family: "Custom";
    src: url("../..static/fonts/buletto_killa/bulletto_killa-webfont.woff") format("woff"),
        url("../../static/fonts/buletto_killa/bulletto_killa-webfont.woff2") format("woff2");
}

.plant-cell{
    aspect-ratio: 1/1;
    text-align: center;

    color: #c2f9ff;
    font-family: Custom, Arial, sans-serif;
    font-size: xx-large;
    font-weight: 800;
    -webkit-text-stroke: 1px #4ca685;

    background-color: white;
    border-style: solid;
    border-width: 7px;
    border-color: #C85789;
    box-shadow: 0 1px 1px black;
}

.card-body{
    padding: 0;
    aspect-ratio: 1/1;
}