
.plant-cell{
    border-style: solid;
    border-width: 5px;
    border-color: #C85789;
    box-shadow: 0 0 0 1px black;
    text-align: center;
    aspect-ratio: 1/1;
}

.card-body{
    padding: 0;
    aspect-ratio: 1/1;
}