<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{#    <link rel= href="{% static "bootstrap/css/bootstrap.min.css" %}">#}

    <link rel="stylesheet" href="{% static 'css/General.css' %}">

    {% block styles %}{% endblock %}

    <link rel="icon" type="image/png" href="{% static '../static/images/favicon-32x32.png' %}" >
    <title> {% block title %} {% endblock %}</title>

</head>
<body>
    {% block nav %} {% endblock %}
    <div class="container" id="header-container">
        {% block header %} {% endblock %}
    </div>

    <div class="container" id="aimed-content-container">
        {% block content %} {% endblock %}
    </div>
    {% block included %} {% endblock %} {#TODO: fix included inside aimed-content container#}
    <!-- contact button -->

</body>
</html>

